.eunit
deps
*.so
.iml
.idea
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
emqttd_auth_mysql.d
ct.coverdata
logs/
test/ct.cover.spec
test/*.beam
cover/
eunit.coverdata
data
