{deps, [
{mysql,".*",{git,"https://github.com/mysql-otp/mysql-otp","1.3.2"}},{ecpool,".*",{git,"https://github.com/emqx/ecpool","master"}},{clique,".*",{git,"https://github.com/emqx/clique",""}},{emqx_passwd,".*",{git,"https://github.com/emqx/emqx-passwd","emqx30"}}
]}.
{erl_opts, [debug_info,{parse_transform,lager_transform}]}.
