{deps, [
{mysql,".*",{git,"https://github.com/mysql-otp/mysql-otp","1.2.0"}},{ecpool,".*",{git,"https://github.com/emqtt/ecpool","master"}},{gen_conf,".*",{git,"https://github.com/emqtt/gen_conf","master"}},{emqttd,".*",{git,"https://github.com/emqtt/emqttd","plus"}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
