[
  {emysql, [
    {pool,     4},
    {host,     "localhost"},
    {port,     3306},
    {username, ""},
    {password, ""},
    {database, "mqtt"},
    {encoding, utf8}
  ]},

  {emqttd_plugin_mysql, [

    %% select password only
    {authquery, "select password from mqtt_users where username = '%u' limit 1"},

    %% Hash algorithm: md5, sha, sha256, pbkdf2
    {password_hash, sha256},
    
    %% select password with salt
    %% {authquery, "select password, salt from mqtt_users where username = '%u'"},

    %% sha256 with salt prefix
    %% {password_hash, {salt, sha256}},

    %% sha256 with salt suffix
    %% {password_hash, {sha256, salt}},

    %% Comment this query, the acl will be disabled
    {aclquery, "select * from mqtt_acl where ipaddr = '%a' or username = '%u' or username = '$all' or clientid = '%c'"},

    %% If no rules matched, return...
    {acl_nomatch, allow}
    
  ]}
].
