[
  {emysql, [
    {pool,      4},
    {host,      "localhost"},
    {port,      3306},
    {username,  "root"},
    {password,  "public"},
    {database,  "mqtt"},
    {encoding,  utf8}
  ]},
  {emqttd_plugin_mysql, [
    {user_table, auth_user},
    %% plain, md5, sha
    {password_hash, plain},
    {field_mapper, [
       {username, username},
       {password, password}
    ]}
  ]}
].
